<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>템플레잇</title>
    <style>
        body {
            margin : 0;
            padding : 0;
            display : flex;
            justify-content : center;
            align-items : center;
            height : 100vh;
        }
        a{
        text-decoration : none;
        }
        .container {
            border : 3px solid red;
            border-radius : 20px;
            padding : 20px;
            background-color : gray;
            text : white;
        }

    </style>
</head>
<body>
    <div class="container">
        <h1>Hello Spring</h1>
        <p>얘는 템플릿</p>
    </div>
</body>
</html>